<div class="game-board">
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>
  <div class="game-board-row">
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
    <div class="game-space">
    </div>
  </div>

</div>