<!doctype html>
<html>
  <head>
    <title>Checkers</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
<html>
