<!doctype html>
<html>
  <head>
    <title>Checkers</title>
    <link rel="stylesheet" type="text/css" href="/styles/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.2.0/backbone-min.js"></script>
  <script src="/js/backbone/models/space.js"></script>
  <script src="/js/backbone/collections/space.js"></script>
  <script src="/js/backbone/views/spaceView.js"></script>
  <script src="/js/backbone/views/spaceListView.js"></script>
  <script src="/js/application.js" ></script>
  </head>
  <body>
    {{{body}}}
  </body>
<html>
