body {
    padding: 50px;
    font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1 {
  color: red;
  text-align: center;
}


.game-board {
  width: 800px;
  height: 800px;
  margin: 0 auto;
}

.game-space {
  box-sizing: border-box;
  border: 2px solid black;
  float: left;
  width: 12.5%;
  height: 12.5%;
}